*{
  padding: 0; margin: 0; box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  background-color: #AAD7D9;
  height: 100vh;
  overflow-y: auto;
}


.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding:4vh;
}
.head1{
  cursor: pointer;
  font-size: 5vh;
}
.head2{
  display: flex;
  gap: 1vh;
}
#find{
  border-radius: 0.2rem;
  height: 5vh;
  padding: 0.5vh;
  border: none;
}
.head2 button{
  border: none;
  border-radius: 0.2rem;
  padding: 0.5vh;
  cursor: pointer;
}

/* ***** CONTENT ***** */
.Content{
 overflow-y: auto;
}
.intro{
  background-color: #7fd9de;
  border-radius: 0.5rem;
  padding: 2vh;
  padding-left: 4vh;
  padding-right: 4vh;
  height: 40vh;
  justify-content: space-between;
  margin: 1vh;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);

}
#intro1{
  font-size: 50px;
}
#intro2{
  font-size: 3.5vh;
}
#intro3{
 display: flex;
 justify-content: center;
}
.info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vh;
  padding: 1vh;
}

/* ***** CARD ***** */
.card{
  background-color: #E1F0DA;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border-radius: 0.5rem;
  padding: 3vh;
  width: 45vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.incard{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
#incard3{
  cursor: pointer;
  color: #016dfb;
}

/* ***** FOOT ***** */
.foot{
  background-color: black;
  display: flex;
  flex-direction: row-reverse;
  gap: 2vh;
  padding: 4vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
}
.foot a{
  text-decoration: none;
  color: white;
}

@media (max-width: 600px) {
  .intro{
    padding: 1vh;
  }
  #intro1{
    font-size: 35px;
  }
  .head{
   padding: 2.5vh;
  }
  .head1{
    font-size: 25px;
  }
  .Content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro{
    margin: 1vh;
    height: 300px;
    width: 300px;
  }
}